body {
    background-image: url('/static/5.jpg');
    /*background-size: cover;*/
    background-size: 100vw;
}

body>div:nth-child(2) {
    font-size: 3rem;
}

footer {
    background-color: rgb(82, 82, 82);
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

footer>div:nth-child(1) {
    grid-column: 2;
}

footer>div:nth-child(2) {
    grid-column: 6;
}

footer>div:nth-child(3) {
    grid-column: -2;
}